<h1><%= @movie.title %></h1>
<h3>Year Created: <%= @movie.creation_year %></h3>
<h3>Genre: <%= @movie.genre %></h3>

<h3>Actors:</h3>
<% @movie.actors.each do |actor| %>
 <%= actor.name %><br>
<% end %>


<%= form_with url: "/movies/#{@movie.id}", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.submit 'Submit' %>
<% end %>
